<div>
    <form class="form" [formGroup]="user" (ngSubmit)="onSubmit()">
        <label for="name">Provide username</label>
        <input id="name" type="text" formControlName="name">
        <div class="error-wrapper" *ngIf="user.get('name')?.errors 
            && (user.get('name')?.touched || user.get('name')?.dirty)">
            <app-form-error
                *ngIf="user.get('name')?.hasError('required')" 
                [text]="'Name is required'">
            </app-form-error>
            <app-form-error
                *ngIf="user.get('name')?.hasError('pattern')" 
                [text]="'Name should not contain whitespaces'">
            </app-form-error>
            <app-form-error
                *ngIf="user.get('name')?.hasError('uniqueName')" 
                [text]="'User name is already taken'">
            </app-form-error>
        </div>

        <label for="pass">Type password</label>
        <input id="pass" type="password" formControlName="password">
        <div class="error-wrapper" *ngIf="user.get('password')?.errors 
        && (user.get('password')?.touched || user.get('password')?.dirty)">
            <app-form-error
                *ngIf="user.get('password')?.hasError('required')" 
                [text]="'Password is required'">
            </app-form-error>
        </div>

        <label for="passRetype">Retype password</label>
        <input id="passRetype" type="password" formControlName="passwordRetype">
        <div class="error-wrapper" *ngIf="user.errors 
        && (user.get('passwordRetype')?.touched || user.get('passwordRetype')?.dirty)">
            <app-form-error
                *ngIf="user.get('passwordRetype')?.hasError('required')" 
                [text]="'Password confirmation is required'">
            </app-form-error>
            <app-form-error
                *ngIf="user.hasError('matchedPasswords')" 
                [text]="'Passwords do not match'">
            </app-form-error>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>