<div class="flex">
    <div class="side-bar side-bar-left">
        <button type="button" mat-raised-button appearance="fill" (click)="displayDialog()">
            <mat-icon>add</mat-icon>Add new task
        </button>
        <app-sections-picker></app-sections-picker>
    </div>
    <main>
        <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start"
            animationDuration="0ms">
            <mat-tab label="Week">
                <app-todos-week></app-todos-week>
            </mat-tab>
            <mat-tab label="Day">Day content will be here.</mat-tab>
        </mat-tab-group>
    </main>
    <div class="side-bar side-bar-right">
        <app-config-bar class="config-bar"></app-config-bar>
    </div>
</div>