.flex {
    display: flex;
}

.side-bar {
    width: 15%;
    height: 100vh;
    background-color: azure;
    position: relative;
}

.config-bar {
    position: absolute;
}

.main {
    position: relative;
    width: 70%;
}

.side-bar-left {
    border-right: 1px solid black;
}

.side-bar-right {
    border-left: 1px solid black;
}