
/* .mdc-checkbox__ripple {
    background-color: #005691 !important;
}

.mdc-checkbox--selected {
    background-color: #005691 !important;
}

.mdc-checkbox__background {
    background-color: #005691 !important;
    border-color: black !important;
} */

.icon-delete {
  color: rgb(161, 0, 0);
}

.item-wrapper {
  display: flex;
  align-items: center;

  &:hover mat-icon {
    display: inline-block;
  }
}

mat-icon {
  display: none;
  font-size: 20px;
  margin-left: 5px;

  &:hover {
    cursor: pointer;
  }
}