<div>
    <form class="form" [formGroup]="user" (ngSubmit)="onSubmit()">
        <label for="name">Type username</label>
        <input id="name" type="text" formControlName="name">
        <div class="error-wrapper" *ngIf="user.get('name')?.errors 
            && (user.get('name')?.touched || user.get('name')?.dirty)">
            <app-form-error 
                *ngIf="user.get('name')?.hasError('required')" 
                [text]="'Name is required'">
            </app-form-error>
        </div>

        <label for="pass">Type password</label>
        <input id="pass" type="password" formControlName="password">
        <div class="error-wrapper" *ngIf="user.get('password')?.errors 
        && (user.get('password')?.touched || user.get('password')?.dirty)">
            <app-form-error 
                *ngIf="user.get('password')?.hasError('matched')" 
                [text]="'Password is required'">
            </app-form-error>
        </div>
        
        <button type="submit">Submit</button>
    </form>
</div>